body{
    background-color: rgb(192, 176, 176);
    

}
h2 {
    color: rgb(175, 102, 102);
    font-family: ariel, sans-serif;
    letter-spacing: 5px;
    font-size: 30px;

}
p{color: rgb(128, 97, 97);
}
.about-me {
     color: rgb(46, 163, 95);
} 
header{
    color: #000;
}
    







